/*
   CSS styling examples for the Vaadin app.
   Visit https://vaadin.com/docs/flow/theme/theming-overview.html and
   https://vaadin.com/themes/lumo for more information.
*/

/* Example: CSS class name to center align the content . */
.centered-content {
  margin: 0 auto;
  max-width: 250px;
}

.header {
    padding: 0 var(--lumo-space-m);
}

.header h1.logo {
    font-size: 1em;
    margin: var(--lumo-space-m);
}

.username{
    font-size: 1em;
    margin: var(--lumo-space-m);
}
/*
.content {
    display: flex;

}
*/
.faculty-list .faculty-content{
    display:flex;
}
.information-form {
    flex: 1;
    padding: var(--lumo-space-m); /*

 */
}
.delete-dialog-content{
       background-color:lightblue
}

.course-list .course-content{
    display:flex;
}

.batch-list .batch-content{
    display:flex;
}

.timetable-grid{
    margin-bottom:-14px;
}
.timetable-grid .v-grid-body .v-grid-cell {
    line-height: 18px;     // adjust to your needs
    font-size: 10px;       // adjust to your needs
    font-color: blue;
}

.project-create{
     border-radius: 25px;
     margin-top: 20px;
}

.project-delete{
    background-color:red;
     border: none;
     color: white;
     border-radius: 25px;
}

.project-panel{
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: 0.3s;
   display: flex;
   width: 40%
}

.project-panel:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.project-panel .bolden{
    font-weight: bold;
}

.title{
  font-weight: bold;
   font-color: red;
}
.project-add-heading{
    font-weight : bold;
    font-size: 1.7em;
}


.project-panel span{
     font-weight : bold;
     font-size: 1em;
}

.dashboard-panel{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    width:375px;            // may have to change this at a later stage

}

.dashboard-panel .stat{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5em;
    font-weight : bold;
}

.dashboard-panel .detail{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25em;
}

.dashboard-card{
    margin-left: auto;
    margin-right: auto;
}

.setVisible{
    font-weight:bold;
    color: black;
}

.quote{
    font-style:italic;
}

.guideline{
    font-weight:bold;
    font-size:1em;
}

.space-below{
    padding-bottom: 25px;
    width:300px
}

.bolden{
font-weight:bold;
}

.userDetails-form{
     margin-top: 25px;
     padding-left: 30px;
     padding-top: 40px;
     border-width: thin 0.1em;
     border-style: solid;
     border-color:#E8E8E8;
     border-radius: 10px;
}

.password-form{
     margin-top: 25px;
     padding-left: 30px;
     padding-top: 40px;
     border-width: thin 0.1em;
     border-style: solid;
     border-color:#E8E8E8;
     border-radius: 10px;
}

.password-guideline{
    padding-bottom: 25px;
    width:300px
    font-size:1.2em;
    font-weight:bold;
}

.password-button{
        padding-top:10px;
}

.title-project-panel{
    font-size:28px;
    font-weight:900;
    font-family:"Arial";
}

.project-division-headings{
    font-weight:800;
    font-size:16px;
}

.project-view-heading{
   font-size:42px;
   font-weight:900;
}

.course-abbreviation-heading{
   font-size:37px;
   font-weight:900;
   margin-bottom:-20px;
}

.course-abbreviation-message{
     font-size:17px;
}

.router-link {
       flex-grow:      1;
         flex-shrink:    1;
      padding: 10px 20px;
      cursor:pointer;
      text-decoration: none;
      transition:0.3s;
      font: bold 14px Arial;
      font-color:

}

.router-link:hover {
   background-color:#beecea;
   text-decoration:none
}

