/*
   CSS styling examples for the Vaadin app.
   Visit https://vaadin.com/docs/flow/theme/theming-overview.html and
   https://vaadin.com/themes/lumo for more information.
*/

/* Example: CSS class name to center align the content . */
.centered-content {
  margin: 0 auto;
  max-width: 250px;
}

.header {
    padding: 0 var(--lumo-space-m);
}

.header h1.logo {
    font-size: 1em;
    margin: var(--lumo-space-m);
}

.username{
    font-size: 1em;
    margin: var(--lumo-space-m);
}
/*
.content {
    display: flex;

}
*/
.faculty-list .faculty-content{
    display:flex;
}
.information-form {
    flex: 1;
    padding: var(--lumo-space-m); /*

 */
}
